<div class="col-lg-6 col-xl-4 my-3">
    <div class="card" style="overflow: hidden; border-radius: 15px; box-shadow: 0 2px 4px rgba(0,0,0,0.2);">
        <div class="row g-0">
            <div class="card-body mx-3">
                <h3 class="card-title my-3">@Title</h3>
                <p class="card-subtitle my-3 text-muted">@CardText</p>
            </div>
            <div class="card-footer d-flex justify-content-around">
                <button class="btn btn-sm" @onclick="Info"><span class="oi oi-info px-2"></span>Info</button>
                <button class="btn btn-sm" @onclick="Regras"><span class="oi oi-list px-2"></span>Regras</button>
                <button class="btn btn-sm" @onclick="Limite"><span class="oi oi-data-transfer-upload px-2"></span>Limite</button>
                <button class="btn btn-sm" @onclick="Docs"><span class="oi oi-file px-2"></span>Docs</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Description { get; set; }

    [Parameter]
    public string? HourRule { get; set; }

    [Parameter]
    public int? HourLimit { get; set; }

    [Parameter]
    public string? CreditSystem { get; set; }

    [Parameter]
    public string? CardText { get; set; }

    private void Info()
    {
        CardText = Description;
    }

    private void Regras()
    {
        CardText = HourRule;
    }

    private void Limite()
    {
        CardText = $"{HourLimit} horas.";
    }

    private void Docs()
    {
        CardText = CreditSystem;
    }
}

