<div class="col-lg-6 col-xl-4 my-3">
    <div class="card" style="max-width: 540px;">
        <div class="row g-0">
            <div class="card-body">
                <h5 class="card-title">@Title</h5>
                <p class="card-text">@Description</p>
                <a href="#" class="card-link text-muted text-decoration-none">Saiba mais</a>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Description { get; set; }

    [Parameter]
    public string? HourRule { get; set; }

    [Parameter]
    public int? HourLimit { get; set; }

    [Parameter]
    public string? CreditSystem { get; set; }
}

